.wrapper {
  display: flex;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  background-color: var(--bg-gray);
  padding: 2rem;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .main {
    padding: 1rem;
  }
}
